## Wolfram Client Library Çalışmaları :

Doğrudan yerel makinede çalışan Wolfram Language Engine e bağlanıp işlemleri yapıyoruz.

In [1]:
from wolframclient.evaluation import WolframLanguageSession
from wolframclient.language import wl, wlexpr


session = WolframLanguageSession()

In [6]:
a = session.evaluate(wlexpr('Range[5]'))

In [7]:
print(a)
b = session.evaluate(wl.MinMax(a))
print(f'En Küçük Sayı:{b[0]} Range[{b[1]}] için')

[1 2 3 4 5]
En Küçük Sayı:1 Range[5] için

In [8]:
import pandas
df = pandas.DataFrame({'A': [1, 2], 'B': [11, 12]}, index=['id1', 'id2'])
df

     A   B
id1  1  11
id2  2  12

In [10]:
session.evaluate(wl.Total(df))

{'A': 3, 'B': 23}

In [11]:
str_reverse = session.function(wl.StringReverse)
str_reverse('Hakan KILIÇASLAN')

'NALSAÇILIK nakaH'

In [12]:
wl.Quantity(12, "Hours")

Quantity[12, 'Hours']

In [17]:
limit = wlexpr('Limit[x Log[x^2], x -> 0]')
session.evaluate(limit)

0

In [18]:
ocean = wlexpr('GeoNearest[Entity["Ocean"], Here]')
session.evaluate(ocean)

(Entity['Ocean', 'MarmaraSea'],)

In [2]:
session.evaluate(wl.WolframAlpha("number of moons of Saturn", "Result"))

Quantity[145, IndependentUnit['moons']]

In [4]:
session.terminate()